header 
{
    padding: 80px; /* some padding*/
    text-align: center; /* center the text*/
    background: #06c200; /*green background*/
    color: white; /*white text color*/
   
 }

 header h1
 {
    font-size: 40px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*font family/style*/
 }

 nav
 {
    overflow: hidden; /*specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area*/
    background-color: #333333;
 }

 /*left nav bar*/
 nav a 
 {
    float: left;/*moves left/*
    display: block;/*does shade boxes/boxes nav*/
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;/*gets rid of underlines*/
  }

  /*right home nav*/
  nav a.right 
  {
    float: right;/*moves right*/
  }
  
  /*changes color when hovered*/
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  