header 
{
    padding: 80px; /* some padding*/
    text-align: center; /* center the text*/
    background: #06c200; /*green background*/
    color: white; /*white text color*/
   
 }

 header h1
 {
    font-size: 40px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*font family/style*/
 }

 nav
 {
    overflow: hidden; /*specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area*/
    background-color: #333333;
 }

 /*left nav bar*/
 nav a 
 {
    float: left;/*moves left/*
    display: block;/*does shade boxes/boxes nav*/
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;/*gets rid of underlines*/
  }

  /*right home nav*/
  nav a.right 
  {
    float: right;/*moves right*/
  }
  
  /*changes color when hovered*/
  nav a:hover {
    background-color: #ddd;
    color: black;
  }

  section
  {
   float: right;
   padding: 80px; /* some padding*/
    text-align: center; /* center the text*/
    background: #06c200; /*green background*/
    color: white; /*white text color*/
    border-radius: 50%;/*curves into cilcular*/
    
  }

section h1
{
    font-size: 20px;/*size*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section p
{
    font-size: 10px;/*size*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article
{
   float: right;
}

aside
{
   padding: 80px; /* some padding*/
    text-align: center; /* center the text*/
    background: #06c200; /*green background*/
    color: white; /*white text color*/

    height: 100%;
    width: 160px;
    position: left;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

aside h1
{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside h2
{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside h3
{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside p
{
   font-size: smaller;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

  img 
{
   border-radius: 50%;/*curves into cilcular*/
   background-color: #aaa;
   width: 100%;
  padding: 20px;
}