    /*Header Area*/
header 
{
    padding: 80px; /* some padding*/
    text-align: center; /* center the text*/
    background: #06c200; /*green background*/
    color: white; /*white text color*/
   
 }

 header h1
 {
    font-size: 40px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*font family/style*/
 }

     /*Nav Area*/
 nav
 {
    overflow: hidden; /*specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area*/
    background-color: #333333;
 }

 /*left nav bar*/
 nav a 
 {
    float: left;/*moves left/*
    display: block;/*does shade boxes/boxes nav*/
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;/*gets rid of underlines*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*font family/style*/
  }

  /*right home nav*/
  nav a.right 
  {
    float: right;/*moves right*/
  }
  
  /*changes color when hovered*/
  nav a:hover {
    background-color: #ddd;
    color: black;
  }

    /*Section Area*/

  section
  {
   margin-top: 20px;
   float: right;
   padding: 80px; /* some padding*/
    text-align: center; /* center the text*/
    background: #06c200; /*green background*/
    color: white; /*white text color*/
    border-radius: 50%;/*curves into cilcular*/
    
  }

section h1
{
    font-size: 20px;/*size*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section p
{
    font-size: 10px;/*size*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   /*Article Area*/
article
{
   padding-left: 20px;
   padding-top: 20px;
   padding-right: 20px;
   float: right;
   background-color: aliceblue;
}

article h1
{
   text-align: center;
   padding-left: 10px;
   padding-top: 20px;
   padding-right: 10px;
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
}

article p
{
   font-size: large;
   font-family: 'Times New Roman', Times, serif;
}

article h2
{
   text-align: center;
   padding-left: 10px;
   padding-top: 20px;
   padding-right: 10px;
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
}

article h3
{
   text-align: center;
   padding-left: 10px;
   padding-top: 20px;
   padding-right: 10px;
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
}

article h4
{
   text-align: center;
   padding-left: 10px;
   padding-top: 20px;
   padding-right: 10px;
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
}


article h5
{
   text-align: center;
   padding-left: 10px;
   padding-top: 20px;
   padding-right: 10px;
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
}

  /*Aside Area*/

aside
{
    padding: 80px; /* some padding*/
    text-align: center; /* center the text*/
    color: white; /*white text color*/
    height: 100%;
    width: 160px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

aside h1
{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside h2
{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside h3
{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside p
{
   font-size: smaller;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

  /*Footer Area*/

footer
{
   padding: 10px;
   background: #06c200; /*green background*/
   color: rgb(0, 0, 0); /*black text color*/
   text-align: center;  
}

footer h1
{
   margin-top: 3px;
   font-size: smaller;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
}

footer h2
{
   margin-top: 3px;
   font-size: smaller;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
}

footer p
{
   margin-top: 5px;
   font-size: smaller;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
}

  /*images*/
.founder
{
   border-radius: 50%;/*curves into cilcular*/
   background-color: #aaa;
   width: 100%;
   padding: 20px;
}

.guinea_pig
{
   border-radius: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   
}

.huskey
{
   border-radius: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.snake
{
   border-radius: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.goldfish
{
   border-radius: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.cat
{
   border-radius: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

  /*Highlights*/

span
{
   color: #06c200;
   font-weight: bold;
   
}

  /*Links*/
a
{
   text-decoration: none;
}

/*Form Section*/
  /*Article 2 Area*/
.Adoption_Form h1
{
   font-size: 40px;
   color: #06c200;
   font-family: 'Times New Roman', Times, serif;
}


  /*Form Area*/
form
{
   
   text-align: left; /* center the text*/
   color: rgb(0, 0, 0); /*white text color*/ 
}


form p
{
   font-size: large;
   font-family: 'Times New Roman', Times, serif;
}

input[type="submit"]
{
   padding: 10px 20px;
   margin: 10px;
   border: 1px solid black;
   background-color: beige;
   border-radius: 50%;
}

/*table area*/

.contact-table h1
{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #06c200;
}

table 
{
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   margin-bottom: 30px;
}
 
 td, th
{
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}
 
 tr:nth-child(even) 
{
   background-color: rgb(211, 211, 211);
}

/*About Us page begins here*/

.flex-container 
{
   display: flex;
   flex-wrap: nowrap;
   background-color: #eeeeee;
}
 
 .flex-container > div 
{
   width: 100px;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
}

.Body
{
   margin-bottom: 10px;
}

.Titler h1
{
    font-size: 40px;/*size*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #06c200;
}

.Body h1
{
   font-size: 25px;/*size*/
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.Body p1
{
   font-size: 17px; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Body h2
{
   font-size: 25px; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Body p2
{
   font-size: 17px;  
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Body h3
{
   text-align: center;
   font-size: 25px; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #06c200;
}

.Logo
{
   border-radius: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   
}

.Body p3
{
   font-size: 17px;  
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Body h4
{
   text-align: center;
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #06c200;
}


.grid-container 
{
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 10px;
   background-color:#06c200;
   padding: 10px;
   margin-bottom: 20px;
   margin-top: 20px;
}
 
 .grid-container > div 
{
   background-color: rgba(255, 255, 255, 0.87);
   text-align: center;
   padding: 20px 0;
   font-size: 30px;
}
 
 @media only screen and (max-width: 600px) 
{
   .item1 { grid-area: 1 / span 3 / 2 / 4; }
   .item2 { grid-area: 3 / 3 / 4 / 4; }
   .item3 { grid-area: 2 / 1 / 3 / 2; }
   .item4 { grid-area: 2 / 2 / span 2 / 3; }
   .item5 { grid-area: 3 / 1 / 4 / 2; }
   .item6 { grid-area: 2 / 3 / 3 / 4; }
}

.Body p4
{
   font-size: 17px;  
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.Body h5
{
   text-align: center;
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #06c200;
}

.Pets-get-help
{
   border-radius: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
}

.Body p5
{
   font-size: 17px;  
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.Body h6
{
   text-align: center;
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #06c200;
}

.Dog-before-vs-after
{
   border-radius: 8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
}

.Body p6
{
   font-size: 17px; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 600px) {
   .aside
    {
     width: 100%;
    }
    .article
    {
      width: 100%;
    }
   
 }

 /*News section*/
