/*Homepage Area*/
.container 
{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}
  
.name 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; /* some padding*/
    text-align: center; /* center the text*/
    color: rgb(0, 0, 0); /*black text color*/
    font-size: 50px;/*size*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;/*font family/style*/
}

.flex-container 
{
   display: flex;
   flex-wrap: nowrap;
   background-color: #ffffff;
}
 
 .flex-container > div 
{
   width: 500px;
   margin: 30px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
}

.alan
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    display: block;
    float: left;
}

.me
{
    margin-bottom: 10px;
}

.me h1
{
    text-align: center;
    font-size: 45px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.me p
{
    font-size: 35px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact
{
    float: left;
    margin: 10px;
    display: flex;
   flex-wrap: nowrap;
   background-color: #ffffff;
   gap: 20px;
}

.contact > div 
{
   width: 500px;
   margin: 30px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
}

.contact h1
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact p
{
    font-size: 25px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact h2
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.contact h3
{
    text-align: center;
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*3d page Area*/

.home-button1
{
    background-color: rgb(4, 0, 214);
}

.grid-container-1 
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-1-3d
{
    grid-column: 1 / span 2;
    grid-row: 1;
}
  
  .backstory-1
{
    grid-column: 3;
    grid-row: 1 / span 2;
}

  .backstory-1 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

  .backstory-1 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.grid-container-2 
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-2-3d
{
    grid-column: 1 / span 2;
    grid-row: 1;
}
  
  .backstory-2
{
    grid-column: 3;
    grid-row: 1 / span 2;
}

  .backstory-2 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

  .backstory-2 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-container-3
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-3-3d
{
    grid-column: 1 / span 2;
    grid-row: 1;
    gap: 20px;
}
  
  .backstory-3
{
    grid-column: 3;
    grid-row: 1 / span 2;
}

  .backstory-3 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

  .backstory-3 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/*2d page Area*/

.home-button2
{
    background-color: rgb(251, 255, 0);
}

.grid-container-1 
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-1-2d
{
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 10px;
    padding-left: 150px;
}

.image-2-2d
{
    grid-column: 2 / span 2;
    grid-row: 1;
    padding: 10px;
    padding-left: 150px;
}
  
  .backstory-1 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}

  .backstory-1 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Games Area*/
.home-button3
{
    background-color: rgb(255, 0, 0);
}

.grid-container-1 
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-1-games
{
    grid-column: 1 / span 2;
    grid-row: 1;
}
  
  .backstory-1
{
    grid-column: 3;
    grid-row: 1 / span 2;
}

  .backstory-1 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

  .backstory-1 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.grid-container-2 
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-2-games
{
    grid-column: 1 / span 2;
    grid-row: 1;
}
  
  .backstory-2
{
    grid-column: 3;
    grid-row: 1 / span 2;
}

  .backstory-2 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

  .backstory-2 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-container-3
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-3-games
{
    grid-column: 1 / span 2;
    grid-row: 1;
    gap: 20px;
}
  
  .backstory-3
{
    grid-column: 3;
    grid-row: 1 / span 2;
}

  .backstory-3 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

  .backstory-3 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Various Area*/
.home-button4
{
    background-color: rgb(0, 255, 255);
}

.grid-container-1 
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-1-misc
{
    grid-column: 1 / span 2;
    grid-row: 1;
}
  
  .backstory-1
{
    grid-column: 3;
    grid-row: 1 / span 2;
}

  .backstory-1 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

  .backstory-1 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.grid-container-2 
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-2-misc
{
    grid-column: 1 / span 2;
    grid-row: 1;
}
  
  .backstory-2
{
    grid-column: 3;
    grid-row: 1 / span 2;
}

  .backstory-2 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

  .backstory-2 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-container-3
{
    display: grid;
    gap: 10px;
    padding: 10px;
}
  
  .image-3-misc
{
    grid-column: 1 / span 2;
    grid-row: 1;
    gap: 20px;
}
  
  .backstory-3
{
    grid-column: 3;
    grid-row: 1 / span 2;
}

  .backstory-3 h1
{
    text-align: center;
    font-size: 40px;/*size*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

  .backstory-3 p
{
    font-size: 30px;/*size*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media only screen and (max-width: 600px)

{

    .flex-container
   {
      flex-direction: column;
   }

   .contact
   {
      flex-direction: column;
   }

    .backstory-1 h1
   {
      font-size: 25px;
   }

   .backstory-1 p
   {
      font-size: 20px; 
   }

   .backstory-2 h1
   {
     font-size: 25px; 
   }

   .backstory-2 p
   {
     font-size: 20px; 
   }

   .backstory-3 h1
   {
     font-size: 25px;
   }

   .backstory-3 p
   {
      font-size: 20px;  
   }

   .image-1-3d
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-2-3d
   {
     grid-column: 2;
     grid-row: 3;
   }

   .image-3-3d
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-1-2d
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-2-2d
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-3-2d
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-1-games
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-2-games
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-3-games
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-1-misc
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-2-misc
   {
     grid-column: 3;
     grid-row: 3;
   }

   .image-3-misc
   {
     grid-column: 3;
     grid-row: 3;
   }


}
 
  
  